@charset "utf-8";      
/* s: 240514 add (이미지슬라이드 개선) */
  /* s: 240626 modify */
  .component-slide-image .s__inner.s-box--horizon,  
  .component-slide-image .s__inner.s-box--vertical,  
  .component-slide-image .s__inner.s-box--multi{position:relative;padding:0 126px 90px 0;margin-top:30px;border-radius:10px;overflow:hidden;}
  .component-slide-image .s__inner.s-box--vertical,
  .component-slide-image .s__inner.s-box--multi{padding:0 0 90px 5px;margin-top:50px}
  .component-slide-image .s__inner.s-box--horizon .swiper-scrollbar-drag,
  .component-slide-image .s__inner.s-box--vertical .swiper-scrollbar-drag,
  .component-slide-image .s__inner.s-box--multi .swiper-scrollbar-drag{background:#000;}
  .component-slide-image .s__inner.s-box--horizon .swiper-scrollbar,
  .component-slide-image .s__inner.s-box--vertical .swiper-scrollbar,
  .component-slide-image .s__inner.s-box--multi .swiper-scrollbar{background-color:rgba(0, 0, 0, 0.2);}
  div[class^='component'].bg-black .s-box--horizon .swiper-scrollbar-drag,
  div[class^='component'].bg-black .s-box--vertical .swiper-scrollbar-drag,
  div[class^='component'].bg-black .s-box--multi .swiper-scrollbar-drag{background:#fff;}
  div[class^='component'].bg-black .s-box--horizon .swiper-scrollbar,
  div[class^='component'].bg-black  .s-box--vertical .swiper-scrollbar,
  div[class^='component'].bg-black  .s-box--multi .swiper-scrollbar{background-color:rgba(255, 255, 255, 0.2);}
  .component-slide-image .s__inner.s-box--horizon .swiper-slide{margin:0 7px;opacity:1;}
  .component-slide-image .s__inner.s-box--vertical .swiper-slide,
  .component-slide-image .s__inner.s-box--multi .swiper-slide{margin:0 7px;opacity:1;width:auto;}
  .component-slide-image .s__inner.s-box--vertical .swiper-slide img,
  .component-slide-image .s__inner.s-box--multi .swiper-slide img{width:auto;height:496px;}
  @media (max-width: 488px) {
    .component-slide-image .s__inner.s-box--horizon{padding:10px 40px 34px 0;}
  }
  @media (max-width: 719px) {
    .component-slide-image .s__inner.s-box--horizon{padding:30px 60px 35px 20px;}
    .component-slide-image .s__inner.s-box--vertical,
    .component-slide-image .s__inner.s-box--multi{padding:30px 20px 35px;}
    .component-slide-image .s__inner.s-box--horizon .s-slide__img, 
    .component-slide-image .s__inner.s-box--vertical .s-slide__img,
    .component-slide-image .s__inner.s-box--multi .s-slide__img{width:auto;}
    .component-slide-image .s__inner.s-box--vertical .swiper-slide img{height:320px}
    .component-slide-image .s__inner.s-box--multi .swiper-slide img{height:158px}
    .full-screen-ly-pop .full_slide_txt{margin-bottom:15px;font-size: 16px;}
    .full-screen-ly-pop .full_slide_stxt{font-size: 12px;}
    .full-screen-ly-pop .full_slide_wrap img{height:auto;}
  }

  @media (max-width: 899px){
    .component-slide-image .s__inner.s-box--vertical .swiper-slide, 
    .component-slide-image .s__inner.s-box--multi .swiper-slide,
    .component-slide-image .s__inner.s-box--horizon .swiper-slide{margin:0 4px}
    .component-slide-image .s__inner .s-box--horizon .s-slide-btn.swiper-button-prev,
    .component-slide-image .s__inner .s-box--vertical .s-slide-btn.swiper-button-prev,
    .component-slide-image .s__inner .s-box--multi .s-slide-btn.swiper-button-prev{left:0;}
    .component-slide-image .s__inner .s-box--horizon .s-slide-btn.swiper-button-next,
    .component-slide-image .s__inner .s-box--vertical .s-slide-btn.swiper-button-next,
    .component-slide-image .s__inner .s-box--multi .s-slide-btn.swiper-button-next{right:0;}
    .component-slide-image .s__inner .s-box--multi .swiper-scrollbar,
    .component-slide-image .s__inner .s-box--horizon .swiper-scrollbar,
    .component-slide-image .s__inner .s-box--vertical .swiper-scrollbar
    {width:90%;}
  }
@media (min-width:720px) and (max-width:1025px){
.component-slide-image  .s__inner .s-box--horizon{padding:50px 70px 50px 0}
.component-slide-image  .s__inner .s-box--horizon, .component-slide-image  .s__inner .s-box--vertical, .component-slide-image  .s__inner .s-box--multi{padding:0 126px 50px 0;margin:0 auto;max-width: 767px;}
.component-slide-image  .s__inner .s-box--multi .swiper-slide img,
.component-slide-image  .s__inner .s-box--vertical .swiper-slide img{height:37vw}
.full-screen-ly-pop .full_slide_wrap .full_slide_txt{margin-bottom:10px;font-size: 17px;}
.full-screen-ly-pop .full_slide_wrap img{max-height:500px}
}
@media (max-width: 1025px) {
.component-slide-image  .s__inner .s-box--multi .swiper-slide,.vertical .swiper-slide{flex-shrink: 1;}
.full-screen-ly-pop .full_slide_wrap{height:auto}
}
 /* e: 240626 modify */
  /* e: 240514 add (이미지슬라이드 개선) */
